<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.myblog.mapper.AdminMapper">

    <update id="update">
        update user
        <set>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="userPass != null">
                user_pass = #{userPass},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="imageUrl != null">
                image_url = #{imageUrl},
            </if>
            <if test="userAvatar != null">
                user_avatar = #{userAvatar},
            </if>
            <if test="sign != null">
                sign = #{sign},
            </if>
            <if test="userLastLoginTime!= null">
                user_last_login_time = #{userLastLoginTime},
            </if>
        </set>
        where id = #{userId}
    </update>
</mapper>